<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="login_page">
		<h1>ログイン</h1>

		<div class="login_block">
			<form th:action="@{/login}" method="post">
				<div class="form_group">
					<label for="username">ユーザー名</label>
					<input type="text" id="username" name="username" class="login_form" required>

					<label for="password">パスワード</label>
					<input type="password" id="password" name="password" class="login_form" required>


					<button type="submit" class="formLoginBtn">ログイン</button>
				</div>

			</form>
		</div>
	</div>
</body>

</html>